<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th>Student</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= User.find(@enrollment.user_id).name %></td>
          <td><%= Course.find(@enrollment.course_id).code %></td>
          <td><%= Course.find(@enrollment.course_id).name %></td>
        <tr>
      </tbody>
  </table>
</div>

<%= link_to 'Back', enrollments_path %>