<% provide(:title, "Subjects") %>
<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Name</th>
      <%# Abbreviation is the same as name in the json file, so don't show%>
      <%# <th>Abbreviation</th> %>
      <th>Segments</th>
      <% if false %>
      <th>Term</th>
      <th>Comment</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_id %></td>
        <td><%= subject.name %></td>
        <% if false %>
        <td><%= subject.abbreviation %></td>
        <% end %>
        <td><%= subject.segments %></td>
        <% if false %>
        <td><%= subject.term %></td>
        <td><%= subject.comment %></td>
        <% end %>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
