<%# The header layout %>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %> <span class="sr-only">(current)</span>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "Profile", current_user %></div>
              <div class="dropdown-item"><%= link_to "My class", '#' %></div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item"><%= link_to "Log out", logout_path, method: :delete %></div>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>

      <% if logged_in? %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 mt-3" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>    
      </form>
      <% end %>
    </div>
  </nav>
</div>
